/* body, header, below-head and footer will stay the same through out the pages */
/* all the colours ive used at what theyre for */
/* body background-color: #1a1a1a;
   button and boxes background-color: #262626;
	 header and footer background-color: #0d0d0d;
	 body text color: #f2f2f2;
	 boxes and buttons text color: #666666;
	 navigation buttons background-color: #000000;
	 */

* {
	box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

.fixed-header {
  padding: 0 10px 0 100px;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  z-index: 1;
  background-color: #0d0d0d;
  color: #f2f2f2;
  margin-top: 0;
  height: 70px;
	min-width: 80%;
}


.fixed-header h1 {
  margin-top: 2px
}

.header-text {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ul-links {
  text-align: right;
  list-style: none;
  height: 70px;
  position: fixed;
  top: 0;
  right: 100px;
}

.li-links {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  border-radius: 5px;
}

.li-links:hover {
  background-color: #f2f2f2;
}

.li-links a {
  line-height: 70px;
  height: 70px;
  display: inline-block;
}

a:link {
  color: #737373;
}

a:visited {
  color: #737373;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}

ul li:last-child {}

.footer {
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
	height: 80px;
  margin: 0px auto;
  background-color: #0d0d0d;
  color: #f2f2f2;
	display:inline-block;
}

.copyright {
	padding-top: 20px;
}

.social {
  padding: 5px 0;
	width: 500px;
	float: right;
	display: inline-block;
	margin-top: -50px;
}

.button {
  background-color: #262626;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  color: #0d0d0d;
  margin: 0 10px;
}

.home {
  padding-top: 180px;
	width: 1200px;
	margin: auto;
}

.portfolio {
  padding-top: 80px;
	width: 1200px;
	margin: auto;
}

.contact {
  padding-top: 180px;
	width: 1200px;
	margin: auto;
}

/* so just to here */ /* so just to here */ /* so just to here */
/* so just to here */ /* so just to here */ /* so just to here */
/* so just to here */ /* so just to here */ /* so just to here */

.jamie {
  margin: auto;
  width: 100%;
  padding: 75px 0 100px 0;
  font-size: 100px;
  text-align: center;
  letter-spacing: 20px;
}

.selfie {
	border-radius: 1000px;
	width: 300px;
	height: auto;
}

.intro {
  border-top-style: solid;
  border-bottom-style: solid;
  margin: auto;
  padding: 50px 0;
  font-size: 10px;
  text-align: center;
  width: 80%;
}

.welcome {
  font-size: 30px;
}

.p-intro {
  font-size: 25px;
  margin: auto;
  width: 90%;
  text-align: center;
}

.header {
  font-size: 42px;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 100px 0 20px 0;
	font-size: 30px;
}



/*End of home page start of portfolio*/
/*End of home page start of portfolio*/
/*End of home page start of portfolio*/
/*End of home page start of portfolio*/
img {
  width: 30%;
  transition: 0.3s;
	background-color: black;
	margin-left: 10px;
	margin-bottom: 10px;
}

}
img:first-child{
 margin-left: 0;
 margin-bottom: 0;
}

.all-img {
  text-align: center;
  display: inline-block;
	width: 1210px;
	border-radius: 5px;
	background-color: black;
}

.jamie-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.jamie-image {
	padding: 20px;
}

a {
	padding: 0;
	border:none;
}

section {
	border: none;
	padding: 0;
}

data-featherlight-gallery {
	padding: 0;
	border: none;
}

.email {
  color: #0d0d0d;
  padding: 5px 20px 15px 20px;
	width: 350px;
	background-color: #262626;
	margin-bottom: 20px;
	border-radius: 3px;
}
h2 {
	color: #666666;
}

h3 {
	color: #666666;
	font-size: initial;
}
	
.message {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 300px;
  height: 100px;
	border-radius: 3px;
}

.padmes {
  padding: 5px 0;
}

.name {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 300px;
	border-radius: 3px;
}

.padname {
  padding: 5px 0;
}

.youremail {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 300px;
	border-radius: 3px;
}

.pademail {
  padding: 5px 0;
}

.submit {
  background-color: #262626;
  border: 2px solid #666666;
  border-radius: 5px;
  color: #666666;
  width: 300px;
}

.padsub {
  padding: 5px 0;
}