/* body, header, below-head and footer will stay the same through out the pages */
/* all the colours ive used at what theyre for */
/* body background-color: #1a1a1a;
   button and boxes background-color: #262626;
	 header and footer background-color: #0d0d0d;
	 body text color: #f2f2f2;
	 boxes and buttons text color: #666666;
	 navigation buttons background-color: #000000;
	 */

* {
	box-sizing: border-box;
}

body {
  color: #1a1a1a;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
	min-height: 800px;
}

.fixed-header {
  padding: 0 10px 0 100px;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  z-index: 1;
  background-color: #0d0d0d;
  color: #f2f2f2;
  margin-top: 0;
  height: 70px;
	min-width: 80%;
}


.fixed-header h1 {
  margin-top: 2px
}

.header-text {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ul-links {
  text-align: right;
  list-style: none;
  height: 70px;
  position: fixed;
  top: 0;
  right: 100px;
}

.li-links {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  border-radius: 5px;
}

.li-links:hover {
  background-color: #f2f2f2;
}

.li-links a {
  line-height: 70px;
  height: 70px;
  display: inline-block;
}

a:link {
  color: #737373;
}

a:visited {
  color: #737373;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}

ul li:last-child {}

.footer {
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
	height: 80px;
  margin: 0px auto;
  background-color: #0d0d0d;
  color: #f2f2f2;
	display:inline-block;
}

.copyright {
	padding-top: 20px;
}

.social {
  padding: 5px 0;
	width: 500px;
	float: right;
	display: inline-block;
	margin-top: -50px;
}

.button {
  background-color: #262626;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  color: #0d0d0d;
  margin: 0 10px;
}

.home {
  padding-top: 180px;
	width: 100%;
	margin: auto;
}

.about {
	padding-top: 120px;
	width:100%;
	height: 1000px;
	margin: auto;
}

.portfolio {
  padding-top: 80px;
	width:100%;
	margin: auto;
}

.contact {
  padding-top: 120px;
	width: 800px;
	margin: auto;
}


/* so just to here */ /* so just to here */ /* so just to here */
/* so just to here */ /* so just to here */ /* so just to here */
/* so just to here */ /* so just to here */ /* so just to here */

.jamie {
	letter-spacing: 20px;
	font-size: 100px;
	padding-bottom: 377px;
	padding-top: 200px;

}

/*about about about about*/
/*about about about about*/
/*about about about about*/
/*about about about about*/

.selfie {
	border-radius: 1000px;
	width: 300px;
	height: auto;
	background-color: transparent;
	padding: 20px;
}

.intro {
	color: #f2f2f2;
  padding: 20px 0;
  font-size: 10px;
  text-align: center;
  width: 80%;
	background-color: #0d0d0d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.welcome {
  font-size: 30px;
}

.p-intro {
  font-size: 25px;
  margin: auto;
  width: 90%;
  text-align: center;
}

/*End of about page start of portfolio*/
/*End of about page start of portfolio*/
/*End of about page start of portfolio*/
/*End of about page start of portfolio*/

img {
  width: 30%;
  transition: 0.3s;
	padding: 10px;
	background-color: transparent;
}

.img:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
	padding: 0;
	border:none;
}

section {
	border: none;
	padding: 0;
}

.data-featherlight-gallery {
	padding: 0;
	border: none;
	background-color: transparent;
}

.inline { display: none }
.featherlight .legend {
    position: absolute;
    bottom: 0;
    font-size: larger;
    color: black;
}

.featherlight-gallery {
	background: transparent;
}

.featherlight-gallery .featherlight-content {
	background: transparent;
}

.fixwidth {
					background: black;
				}
				.fixwidth .featherlight-content {
					width: 500px;
					padding: 0px;
					color: #black;
					background: black;
				}
				.fixwidth .featherlight-close {
					color: black;
					background: black;
				}

/*contact contact contact*/
/*contact contact contact*/
/*contact contact contact*/
/*contact contact contact*/

.email {
  color: #0d0d0d;
  padding: 5px 20px 15px 20px;
	width: 500px;
	height: 800px;
	background-color: #262626;
	margin-bottom: 20px;
	border-radius: 10px;
}
h2 {
	color: #666666;
	font-size: 40px;
}

h3 {
	color: #666666;
	font-size: initial;
	font-size: 20px;
}
	
.message {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 450px;
	height: 450px;
	border-radius: 5px;
	font-size: 20px;
}

.padmes {
  padding: 5px 0;
}

.name {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 450px;
	height: 50px;
	border-radius: 5px;
	font-size: 20px;
}

.padname {
  padding: 5px 0;
}

.youremail {
  background-color: #f2f2f2;
  border: 2px solid #666666;
  width: 450px;
	height: 50px;
	border-radius: 5px;
	font-size: 20px;
}

.pademail {
  padding: 5px 0;
}

.submit {
  background-color: #262626;
  border: 2px solid #666666;
  border-radius: 5px;
  color: #666666;
  width: 450px;
}

.padsub {
  padding: 5px 0;
}